{% extends 'flowers/base.html' %}

{% load static %}
{% block title %}страница выбора способа заказа{% endblock %}

{% block content %}
<h2>Выберите способ оформления заказа</h2>
<p>Вы выбрали букет с ID: {{ bouquet_id }}</p>


{% if user.is_authenticated %}
    <a href="{% url 'orders:create_order' %}?bouquet_id={{ bouquet_id }}" class="btn btn-primary">Перейти к оформлению</a>
{% else %}
    <a href="{% url 'registration:login' %}" class="btn btn-primary">Войти или зарегистрироваться</a>
    <a href="{% url 'orders:create_order' %}?bouquet_id={{ bouquet_id }}" class="btn btn-secondary">Заказать как гость</a>
{% endif %}


{% endblock %}
